html,
body,
#root {
  height: 100%;
  width: 100%; }

body {
  background: #E6E6FA; }

button {
  border: none;
  padding: none;
  font-size: 1.2em; }

button:hover {
  border: solid white 1px; }

button:focus {
  outline: none; }

.calculator {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center; }

.container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 260px;
  grid-template-columns: repeat(4, 1fr);
  /* grid-column-gap: 2px;
  grid-row-gap: 2px;*/
  grid-gap: 1px;
  grid-auto-rows: 60px;
  background: black;
  border: solid black 4px; }

#display,
#calculation {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  background-color: black;
  color: white;
  border: solid black 4px;
  width: 260px; }

#clear {
  grid-column: span 2;
  background-color: #A62700; }

#equals {
  grid-row: span 2;
  background-color: #0a2b58; }

#zero {
  grid-column: span 2; }

.button {
  background: #696969;
  color: white; }

#add,
#subtract,
#multiply,
#divide {
  background-color: #A9A9A9; }
